@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* Common */

.page {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #333333;
    height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.button {
  color: #FFFFFF;
  background-color: #83B3D3;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  text-align: center;
  cursor: pointer;
}

.button-large {
  font-size: 20px;
  line-height: 26px;
}

.button:hover {
  background-color: #68A2CA;
}

.button:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.button:active {
  outline: none;
  background-color: #68A2CA;
  color: rgba(255,255,255, 0.3);
}

.button-secondary {
  background-color: #756257;
}

.button-secondary:hover {
  background-color: #615048;
}

.button-secondary:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
}

.button-secondary:active {
  outline: none;
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}


.main-container {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  display: block;
  width: 100%;
  white-space: wrap;
  text-align: center;
}

.section-content {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  width: 100%;
  white-space: wrap;
  text-align: center;
}

.main-inner, .main-index {
    width: 100%;
    flex-grow: 1;
}

.catalog-container {
    width: 1056px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Navigation */

.page-header {
    width: 100%;
}

.navigation {
    width: 1060px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 139px;
    margin-right: 30px;
    align-self: start;
}

.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
}

.navigation-menu {
  width: 500px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.navigation-link {
  position: relative;
  text-decoration: none;
  color:#000000;
  display: block;
  padding: 20px 17px;
}

.navigation-link.active:after {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 2px;
  height: 2px;
  background-color: #000000;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:hover:after {
  background-color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-user {
    width: 348px;
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;
}

.navigation-icon  {
    width: 8px;
    height: 26px;
}

.navigation-icon svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: #000000;
}

.navigation-link:hover path {
  fill: #756257;
}

.navigation-icon:active path {
  fill: #756257;
  opacity: 0.3;
}

.navigation-icon:active .favorites-count {
  opacity: 0.3;
}

.navigation-button {
    width: 160px;
    height: 37px;
    line-height: 37px;
    margin-left: 20px;
}

.favorites-count {
    background-color: #7DB54F;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 0;
    text-align: center;
}

/* Introduction */

.introduction {
    display: flex;
    width: 100%;
    flex-direction: column;
    line-height: 36px;
    margin-bottom: 80px;
}

.introduction-promo {
    width: 100%;
    height: 485px;
    background-color: #83B3D3;
    background-image: url("../img/index-background.jpg");
    background-size: cover;
    margin-bottom: 63px;
    position: relative;
}


.introduction-promo:before {
  position: absolute;
  content: "";
  top: 51px;
  left: 50%;
  transform: translateX(-50%);
  width: 458px;
  height: 352px;
  background-image: url('../img/welcome.svg');
  z-index: 1;
}

.introduction-promo:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 57px;
  background-image: url('../img/divider-mask.svg');
  z-index: 1;
}


.introduction-strong {
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 31px;
}

.introduction-common {
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
}

/* Advantages */
.advantages {
    margin-bottom: 91px;
    display: grid;
}

.advantages-image-info {
    background-color: #83B3D3;
    color: #FFFFFF;
    display: flex;
}

.advantages-image-info:nth-child(4) div {
    order: 2;
}

.advantages-image {
    object-fit: cover;
}

.advantages-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;

}

.advantages-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    white-space: normal;
}

.advantages-card-number {
    font-weight: inherit;
    margin-bottom: 30px;
}

.advantages-description {
    text-align: center;
    padding: 0;
    margin: 0;
}

.advantages-item {
    width: 400px;
    height: 384px;
    background-color: rgb(131, 179, 211);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 98px 90px 0;
    box-sizing: border-box;
}

.advantages-card-1 {
  background-image: url('../img/house-icon.svg');
}

.advantages-card-3 {
  background-image: url('../img/gift-icon.svg');
}

.advantages-card-1,
.advantages-card-3,
.advantages-card-4,
.advantages-card-6  {
    background-color: rgb(131, 179, 211, 0.12);
    padding: 98px 75px 0;
}

.advantages-card-2 {
    background-image: url('../img/burger-icon.svg');
    background-color: #FFFFFF;
    padding: 98px 75px 0;
}

.advantages-card-5 {
    background-color: rgb(131, 179, 211, 0.2);
    padding: 98px 75px 0;
}

.advantages-card-1,
.advantages-card-2,
.advantages-card-3 {
    padding-top: 184px;
    background-position: bottom 223px center;
    background-repeat: no-repeat;
}

/* Search */
.search {
    margin-bottom: 92px;
}

.search-title {
    margin-bottom: 43px;
}

.search-content {
    margin-bottom: 43px;
}

.search-button {
    width: 575px;
    height: 60px;
    line-height: 60px;
}

/* Subscribe */

.primary-subscribe {
    background-color: #83B3D3;
    background-image: url('../img/subscribe-bg.jpg');
    background-size: cover;
    color: #FFFFFF;
}

.section-title {
    margin-bottom: 29px;
  }

.primary-subscribe .section-title {
  color: #FFFFFF;
}

.subscribe-content {
    margin-bottom: 46px;
}

.subscribe-form {
    display: flex;
    width: 800px;
    margin-bottom: 93px;
}

.subscribe-input {
    border: none;
    flex-grow: 1;
    padding-left: 22px;
}

.subscribe-button {
    width: 200px;
    height: 61px;
}


/* Footer */

.footer-container {
    width: 1056px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 30px;
}

.footer-social-list {
    width: 166px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(4, 40px);
}


.footer-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.social-icon {
  fill: #83B3D3;
}

.footer-social-item:hover .social-icon {
  fill: #68A2CA;
}

.footer-social-item:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}

.footer-social-item:focus .social-icon {
  fill: #68A2CA;
}

.footer-social-item:active {
  outline: none;
  box-shadow: none;
}

.footer-social-item:active .social-icon {
  fill: #68A2CA;
  opacity: 0.3;
}

.footer-social-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.contacts-phone {
    width: 361px;
    height: 70px;
    display: block;
    text-align: center;
    font-size: 40px;
    line-height: 70px;
    color: #000000;
    text-decoration: none;
    font-style: normal;
}

.contacts-phone:hover {
  color: #756257;
}

.contacts-phone:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
}

.contacts-phone:active {
  color: rgba(117, 98, 87, 0.3);
  outline: none;
}

.htmlacademy-link {
    display: block;
    width: 160px;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.htmlacademy-link:hover * {
  fill: #756257;
}


.htmlacademy-link:focus {
  outline: none;
  border: 3px solid #83B3D3;
}

.htmlacademy-link:focus * {
  fill: #756257;
}

.htmlacademy-link:active {
  border: none;
}

.htmlacademy-link:active * {
  fill: rgba(117, 98, 87, 0.3);
}

/* Main header */

.inner-header {
    background-color: #83B3D3;
    background-image: url('../img/catalog/catalog-background.jpg');
    background-size: cover;
    color: #FFFFFF;
    padding: 35px 0 83px;
    margin-bottom: 44px;
}

.inner-header-title {
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 78px;
    margin-bottom: 5px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    margin-bottom: 45px;
}

.breadcrumbs-item {
  font-size: 16px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  min-width: 28px;
  min-height: 28px;
  box-sizing: border-box;
  padding: 3px 8px 3px;
}

.breadcrumbs-icon {    
    margin-right: 10px;
    position: relative;    
}

.breadcrumbs-icon svg {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 12px;
  height: 12px;
  fill: white;
}

.breadcrumbs-item:not(:last-child):after {
  content: '';
  position: absolute;
  top: 10px;
  left: 31px;
  width: 5px;
  height: 8px;
  background-image: url('../img/catalog/arrow-breadcrumbs.svg');
}

.breadcrumbs-link {
  cursor: pointer;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {  
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.breadcrumbs-link:active {  
  box-shadow: none;
  opacity: 0.3;
}

/* Filter Forms */

.hotel-filter {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}

.hotel-filter-group {
    margin: 0;
    padding: 0;
    width: 160px;
    display: grid;
    border: none;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 48px 43px;
}

.hotel-filter-group:nth-child(1) {
    margin-right: 57px;
}

.hotel-filter-group:nth-child(3) {
    width: 287px;
    margin-left: auto;
    grid-template-columns: 111px 33px 111px 33px;
}

.hotel-filter-group:nth-child(4) {
    margin-left: 89px;
}

.hotel-filter-title {
    font-size: 20px;
    margin: 0;
    padding: 0;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.hotel-filter-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    grid-column: 1 / 2;
    grid-row: 2 / -1;
}

.hotel-filter-item {
    padding-left: 40px;
    margin-bottom: 13px;
}

.hotel-filter-item:last-child {
    margin-bottom: 0;
}

.input-from {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.label-from {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-right-width: 1px;
}

.input-to {
    grid-column: 3 / -1;
    grid-row: 2 / 3;
    border-left-width: 1px;
}

.label-to {
    grid-column: 4 / -1;
    grid-row: 2 / 3;
}

.control-label {
    padding: 0;
    margin: 0;
    padding-right: 13px;
    align-self: center;
}

.filter-price-range {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}

.input-range {
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid white;
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
}

.filter-submit-button {
    grid-row: 2 / 3;
}

.filter-reset-button {
  font-size: inherit;
  background: transparent;
  color: inherit;
  border: none;
  grid-row: 3 / 4;
  align-self: self-end;
}

.filter-reset-button:hover {
  opacity: 0.6;
}

.filter-reset-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}

.filter-submit-button:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 3px #FFFFFF;
}

.filter-reset-button:active {
  box-shadow: none;
  color: rgba(255, 255, 255, 0.3);
}

.filter-submit-button:active {
  box-shadow: none;
}

/* Catalog header */

.hotel-catalog-header {
    display:  flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 53px;
}

.search-result {
  margin: 0;
  padding: 0;
  display: block;
  width: 440px;
  margin-right: auto;
}

.result-title {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  text-align: start;
}

.sorting-type {
    width: 287px;
    height: 48px;
    line-height: 48px;
    outline: 1px solid #333333;
}

.render-type-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 215px;
    margin-left: 81px;
}

.render-button {
    display: block;
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    margin-left: 8px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 2px solid #E6E6E6;
}

.render-button:hover,
.render-button:focus {
  background-color: transparent;
  outline: none;
  border-color: #83B3D3;
}

.render-button:active,
.render-button.active {
  background-color: transparent;
  outline: none;
  border-color: #000000;
}

.render-item:first-child a {
  background-image: url('../img/catalog/mode-tile.svg');
}

.render-item:nth-child(2) a {
  background-image: url('../img/catalog/mode-slideshow.svg');
}

.render-item:last-child a {
  background-image: url('../img/catalog/mode-list.svg');
}

.sorting-type a {
  color: inherit;
  text-decoration: none;
}

/* Hotel Cards */
.hotel-catalog {
    margin-bottom: 73px;
}

.hotel-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 10px;
}

.hotel-card {
    display: grid;
    padding: 20px;
    grid-template-columns: 140px 26px 134px;
    grid-row-gap: 16px;
}

.hotel-card-title {
    margin: 0;
    padding: 0;
    color:#000000;
    font-size: 24px;
    font-weight: bold;
    grid-column: 1 / -1;
}

.hotel-card-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.hotel-card-link:hover {
  opacity: 0.6;
}

.hotel-card-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}

.hotel-card-link:active {
  box-shadow: none;
  opacity: 0.3;
}

.hotel-card-image {
    display: block;
    object-fit: cover;
}

.hotel-card b {
  font-weight: inherit;
}

.hotel-more-button {
  width: 133px;
}

.hotel-card-type,
.hotel-more-button,
.hotel-card-stars {
    grid-column: 1 / 2;
}

.hotel-card-price,
.hotel-favorite-button {
    grid-column: 3 / 4;
}

.hotel-favorite-button,
.hotel-more-button,
.hotel-card-rating {
    padding: 10px 0;
}

.hotel-favorite-button.active {
  background-color: #7DB54F;
}

.hotel-favorite-button.active:hover,
.hotel-favorite-button.active:focus,
.hotel-favorite-button.active:focus {
  background-color: #6C9E42;
}


.hotel-card-rating {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
  grid-column: 2 / -1;
}

.hotel-card-stars {
    padding: 0;
    margin: 0;
}

.hotel-card-star {
  display: block;
  width: 18px;
  height: 18px;
  background-color: #83B3D3;
  background-image: url('../img/catalog/star.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* Pagination */

.pagination {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.upload-more-button {
    width: 620px;
    height: 60px;
    margin: 0 auto 60px;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.pages-list {
    margin-right:  auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.page-button {
    display: block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
}

.page-button.active {
  background-color: #F2F2F2;
  color: #000000;
}

.hotel-per-page {
    display: flex;
    width: 386px;
    align-items: center;
}

.hotel-count-control {
    width: 160px;
    height: 48px;
    font-size: inherit;
    outline: 1px solid #333333;
    margin-left: 51px;
}
