@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* Common */

.page {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #333333;
}

.button {
  color: #FFFFFF;
  background-color: #83B3D3;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.button-large {
  font-size: 20px;
  line-height: 26px;
}

.button-secondary {
  background-color: #756257;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.section-content {
  font-size: 22px;
  line-height: 26px;
}

/* Navigation */

.navigation-menu {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.navigation-link {
  text-decoration: none;
  color:#000000;
}

.favorites-count {
    background-color: #7DB54F;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 13px;
    border-radius: 50%;
}

/* Introduction */

.introduction {
    line-height: 36px;
}

.introduction-strong {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.introduction-strong {
    font-size: 22px;
}

/* Advantages */

.advantages-image-info {
    background-color: #83B3D3;
    color: #FFFFFF;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages b {
    font-weight: inherit;
}

.advantages-item {
    background-color: rgb(131, 179, 211);
}

.advantages-card-1,
.advantages-card-3,
.advantages-card-4,
.advantages-card-6  {
    background-color: rgb(131, 179, 211, 0.12);
}

.advantages-card-2 {
    background-color: #FFFFFF;
}

.advantages-card-5 {
    background-color: rgb(131, 179, 211, 0.2);
}

/* Subscribe */

.primary-subscribe {
    background-color: #83B3D3;
    background-image: url('../img/subscribe-bg.jpg');
    background-size: cover;
    color: #FFFFFF;
}

.primary-subscribe .section-title {
  color: #FFFFFF;
}


/* Footer */

.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    font-style: normal;
}

/* Main header */

.inner-header {
    background-color: #83B3D3;
    background-image: url('../img/catalog/catalog-background.jpg');
    background-size: cover;
    color: #FFFFFF;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs-item {
    font-size: 16px;
}

/* Filter Forms */

.hotel-filter-title {
    font-size: 20px;
}

.input-range {
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid white;
  font-size: inherit;
  font-family: inherit;
}

.filter-reset-button {
  font-size: inherit;
  background: transparent;
  color: inherit;
  border: none;
}

/* Sorting */
.sorting-type a {
  color: inherit;
  text-decoration: none;
}

/* Card */

.hotel-card-title {
  color:#000000;
  font-size: 24px;
  font-weight: bold;

}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card b {
  font-weight: inherit;
}

.hotel-card-rating {
  font-size: 16px;
  text-transform: uppercase;
}

/* Pagination */

.select-control {
  font-size: inherit;
}
